<footer>
    <nav class="navFooter">
        <ul>
            <li><button class="btn-footer"><img src="../img/home.svg" alt="Bolsa"></button></li>
            <li><button class="btn-footer"><img src="../img/bolsalike.svg" alt="Bolsa"></button></li>
            <li class="li-pedir"><button class="btn-pedir"><img src="../img/bolsa.svg" alt="Bolsa"></button></li>
            <li><button class="btn-footer"><img src="../img/corazon.svg" alt="Bolsa"></button></li>
            <li><button class="btn-footer"><img src="../img/usuario.svg" alt="Bolsa"></button></li>
        </ul>
    </nav>
</footer>