<footer class="cartFooter">
    <section>
        <article class="rowText">
            <div >            
                <p>Subtotal</p>
                <p>IVA (10%)</p>
                <p>Envio</p>
                <p>TOTAL</p>
            </div>
        </article>
        <article class="rowPrice">
            <div >
                <p>0 &euro;</p>
                <p>0.0 &euro;</p>
                <p>2.5 &euro;</p>
                <p>0 &euro;</p>
            </div>
        </article>
    </section>
    <button class="buttonShop">Enviar pedido</button>
</footer>