<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style-atomos.css">
    <link rel="stylesheet" href="../css/style-moleculas.css">
    <link rel="stylesheet" href="../css/style-organismos.css">
    <link rel="stylesheet" href="../css/style-plantilla.css">
    <link rel="stylesheet" href="../css/style-cart.css">
    <title> Cart || Food App </title>
</head>
<body>
    <%-include('./partials/cart/cart_list'); %>
</body>
</html>