<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style-atomos.css">
    <link rel="stylesheet" href="../css/style-moleculas.css">
    <link rel="stylesheet" href="../css/style-organismos.css">
    <link rel="stylesheet" href="../css/style-plantilla.css">
    <title>Food App</title>
</head>
<body>
    <%- include('./partials/header'); %>
    <%- include('./partials/navbar'); %>
    <%- include('./partials/meal'); %>
    <%- include('./partials/footer'); %>
</body>
</html>