<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-atomos.css">
    <link rel="stylesheet" href="../css/style-moleculas.css">
    <link rel="stylesheet" href="../css/style-organismos.css">
    <link rel="stylesheet" href="../css/style-plantilla.css">
    <title>Food App</title>
</head>
<body>
    <%- include('./partials/header'); %>
</body>
</html>